body{
    font-size: 1rem;
    line-height: 1.2;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul, ol{
    list-style-type: none;
}

/*Выравнивание контента по центру экрана*/
.conteiner{
    max-width: 719px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}