body{
    font-size: 1rem;
    line-height: 1.2;
    background: linear-gradient(to bottom, #d9d9d9, white 15%);
}

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul, ol{
    list-style-type: none;
}

/*Выравнивание контента по центру экрана*/
.container{
    max-width: 720px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}