@font-face{
    font-family: "arial";
    src: url("./arial.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "arialbd";
    src: url("./arialbd.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "tahoma";
    src: url("./tahoma.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "tahomabd";
    src: url("./tahomabd.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "trebuc";
    src: url("./trebuc.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "trebucbd";
    src: url("./trebucbd.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MissLeGatees";
    src: url("./Miss Le Gatees-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "DINMittelschriftStd";
    src: url("./DINMittelschriftStd.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MinionPro-Capt";
    src: url("./MinionPro-Capt.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MinionPro-Semibold";
    src: url("./MinionPro-Semibold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MinionPro-SemiboldCn";
    src: url("./MinionPro-SemiboldCn.otf");
    font-style: normal;
    font-weight: normal;
}

.arial{
    font-family: "arial";
}
.arialbd{
    font-family: "arialbd";
}
.tahoma{
    font-family: "tahoma";
}
.tahomabd{
    font-family: "tahomabd";
}
.trebuc{
    font-family: "trebuc";
}
.trebucbd{
    font-family: "trebucbd";
}
.MissLeGatees{
    font-family: "MissLeGatees";
}
.DINMittelschriftStd{
    font-family: "DINMittelschriftStd";
}
.MinionPro-Capt{
    font-family: "MinionPro-Capt";
}
.MinionPro-Semibold{
    font-family: "MinionPro-Semibold";
}
.MinionPro-SemiboldCn{
    font-family: "MinionPro-SemiboldCn";
}