@font-face{
    font-family: "arial";
    src: url("../fonts/arial.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "arialbd";
    src: url("../fonts/arialbd.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "tahoma";
    src: url("../fonts/tahoma.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "tahomabd";
    src: url("../fonts/tahomabd.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "trebuc";
    src: url("../fonts/trebuc.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "trebucbd";
    src: url("../fonts/trebucbd.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MissLeGatees";
    src: url("../fonts/Miss Le Gatees-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "DINMittelschriftStd";
    src: url("../fonts/DINMittelschriftStd.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MinionPro-Capt";
    src: url("../fonts/MinionPro-Capt.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MinionPro-Semibold";
    src: url("../fonts/MinionPro-Semibold.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "MinionPro-SemiboldCn";
    src: url("../fonts/MinionPro-SemiboldCn.otf");
    font-style: normal;
    font-weight: normal;
}

.ff-arial{
    font-family: "arial";
}
.ff-arialbd{
    font-family: "arialbd";
}
.ff-tahoma{
    font-family: "tahoma";
}
.ff-tahomabd{
    font-family: "tahomabd";
}
.ff-trebuc{
    font-family: "trebuc";
}
.ff-trebucbd{
    font-family: "trebucbd";
}
.ff-MissLeGatees{
    font-family: "MissLeGatees";
}
.ff-DINMittelschriftStd{
    font-family: "DINMittelschriftStd";
}
.ff-MinionPro-Capt{
    font-family: "MinionPro-Capt";
}
.ff-MinionPro-Semibold{
    font-family: "MinionPro-Semibold";
}
.ff-MinionPro-SemiboldCn{
    font-family: "MinionPro-SemiboldCn";
}