.content{
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    background: linear-gradient(to bottom, #d9d9d9, white 8%);
}
.content-left-row{
    width: 240px;
    flex-grow: 0;  
}
.content-right-row{
    flex-grow: 1;
}