.right-row__letest-events{
   width: 240px;
   float: left;
}
.right-row__letest-events .left-row__title{
    color: #35213c;
}
.right-row__letest-events .left-row__item:last-child{
    border: none;
}
.right-row__letest-events .left-row-item__title span{
    color: black;
}
.right-row__letest-events .left-row__text{
    margin-top: 10px;
}

@media (max-width:480px){
    .right-row__letest-events{
        float: unset;
        width: unset;
        text-align: center;
    }
    .left-row__title{
        margin-left: 0px;
        text-align: center;
    }
    .left-row__text{
        text-align: center;
    }
}