.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

/*Стили логотипа*/
#logo{
    width: 239px;
    height: 60px;
}
#logo .ff-MissLeGatees{
    font-family: "MissLeGatees";
    font-size: 3rem;
    float: left;
    margin: 0;
}
#logo .ff-MinionPro-SemiboldCn{
    font-family: "MinionPro-SemiboldCn";
    font-size: 1.125rem;
    color: #c6404b;
    float: left;    
    margin: 28px 0 0 0;

}
#logo .ff-MinionPro-Semibold{
    font-family: "MinionPro-Semibold";
    font-size: 0.875rem;
    color: #a09484;
    float: left;
    margin: -12px 0 0 50px;
 }

/*Стили меню навигации*/
 .nav{
    display: inline-block;
    vertical-align: top;
 }
 .nav__link{
    font-family: "MinionPro-Semibold";  
    font-size: 0.875rem;
    display: inline-block;
    vertical-align: top;
    padding: 0 7px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #a09484;
    transition: 0.3s;
    letter-spacing: 0px;
 }
 .nav__link:hover, .nav__link--active{
    color: #c6404b;
 }
 .nav__link:after{
    content: '\2807';
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    margin-left: 13px;
 }
 .nav__link:last-child:after{
    display: none;
 }